html,body{
    margin: 0;
    padding:0;
    width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-block: none;
}
.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('https://ae01.alicdn.com/kf/HTB1RCIAKFXXXXcPXpXXq6xXFXXXI/3D-ceiling-tiles-blue-sky-and-white-clouds-custom-hd-3d-ceiling-painting-wallpaper-home-decoration.jpg');
    background-size: cover;
    background-position: center ;
    background-repeat: no-repeat;
  }

#featureHead{
    font-family:cursive;
}
#card{
    height:12rem;
    box-shadow: 0 1em 2em #489ce4;
}

#navbar{
    background-color:#489ce4 ;
    z-index: 1;
    position: fixed;
    width:100vw;
    scroll-padding-block: none;
}
#head{
    color: white;
    text-shadow: 0 0.1em 0.2em black;
    font-family: cursive;
}
.lead{
    font-family: cursive;
    color: black;
}
footer{
    background-color:#489ce4 ;
    font-family: cursive;
}
hr.style12 {
    height: 0.01rem;
    background-color: #2954a0;
    border: 0;
    max-width: 8.1rem;
}
hr.style13 {
    height: 0.01rem;
    background-color: #2954a0;
    border: 0;
    max-width: 8.1rem;
}
h4{
    font-family: cursive;
}
.pgmpara{
    letter-spacing: 0.2em;
    font-weight: 0.3em;
}
.hrpgm{
    max-width: 60%;
    text-align: left;

}